# API STS (Autooplata)
НУ_API_URL=https://pos.autooplata.ru/tms
НУ_API_LOGIN=UserTest
НУ_API_PASSWORD=sys5tem6
НУ_API_SYSTEM_CODE=15

# 1C Platform (для сборки)
PLATFORM_EXE=C:\Program Files\1cv8\8.3.27.1508\bin\1cv8.exe
IB_CONNECTION=/F "D:\Bases\TestBP30"
